<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:amazon="http://schemas.amazon.com/apk/res/android" xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.vent">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <permission android:name="com.vent.permission.LAYER_PUSH" android:protectionLevel="signature"/>
    <uses-permission android:name="com.vent.permission.LAYER_PUSH"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:maxSdkVersion="18" android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.vent.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.vent.permission.C2D_MESSAGE"/>
    <application android:allowBackup="false" android:appCategory="4" android:fullBackupContent="@xml/layer_sdk_backup_rules" android:hardwareAccelerated="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="com.vent.MyApplication" android:resizeableActivity="true" android:theme="@style/Theme.AppCompat.Light">
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_phdPAk8juXfDG8xkZogXofiaDAbX7UDf"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:hardwareAccelerated="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.vent.ActMain" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite.NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data android:host="open" android:scheme="ventfeed"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.vent.ActMain.CHAT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.vent.ActMain.NOTIFICATIONS"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity>
        <receiver android:exported="true" android:name="io.branch.referral.InstallListener">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActWelcome" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarBlack.NoBar.ForceBlack" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActSignIn" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarBlack.NoBar.ForceBlack" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActForgotPassword" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarBlack.NoBar.ForceBlack" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActRegister1" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarBlack.NoBar.ForceBlack" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActRegister2" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarBlack.NoBar.ForceBlack" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActRegister3" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarBlack.NoBar.ForceBlack"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActAgree" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarBlack.NoBar.ForceBlack"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActProfile" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarBlack.NoBar.ForceBlack"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActUserListInteractions" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite.NoBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActUserListListeners" android:theme="@style/AppTheme.ActionBarWhite.NoBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActUserListListenRequests" android:theme="@style/AppTheme.ActionBarWhite.NoBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActUserListListenings" android:theme="@style/AppTheme.ActionBarWhite.NoBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActUserListCommentFavs" android:theme="@style/AppTheme.ActionBarWhite.NoBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActUserListInverseBlocks" android:theme="@style/AppTheme.ActionBarWhite.NoBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActUserListGroupMembers" android:theme="@style/AppTheme.ActionBarWhite.NoBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActEmotions" android:theme="@style/AppTheme.ActionBarBlack.NoBar.ForceBlack.WhiteCursor" android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <meta-data android:name="android.service.chooser.chooser_target_service" android:value=".MyChooserTargetService"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActVent" android:theme="@style/AppTheme.ActionBarBlack.NoBar.ForceBlack" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActVentList" android:theme="@style/AppTheme.ActionBarWhite.NoBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActVentView" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite.NoBar" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActEditProfile" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActAccountPrivacy" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActChangePassword" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActChangeEmail" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActSubscriptions" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActReport1" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActReport2" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActReport3" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActAbout" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActSearch" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite.NoBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActSettings" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActSettingsAdvanced" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActSearchResults" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite.NoBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActChat" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActAddChat" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActMessageSettings" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActGroup" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite.NoBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActGroupsJoin" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite.NoBar" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActInterests" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite.NoBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActCreateEditGroup" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite.NoBar" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActStore" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarBlack.NoBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActStoreEmotCat" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarBlack.NoBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActDeactivateReason" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarWhite"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActGift" android:theme="@style/AppTheme.ActionBarBlack.NoBar.ForceBlack" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActGiftDone" android:theme="@style/AppTheme.ActionBarBlack.NoBar.ForceBlack"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:name="com.vent.ActEmailConfirmed" android:screenOrientation="user" android:theme="@style/AppTheme.ActionBarBlack.NoBar.ForceBlack">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="email-confirmed" android:scheme="vent-feed"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="email-confirmed" android:scheme="vent-feed-test"/>
            </intent-filter>
        </activity>
        <service android:label="@string/app_name" android:name="com.vent.MyChooserTargetService" android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService"/>
            </intent-filter>
        </service>
        <receiver android:exported="false" android:name="com.vent.NotificationAction">
            <intent-filter>
                <action android:name="com.vent.DISMISS"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <receiver android:label="@string/app_name" android:name="com.vent.AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget"/>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsService"/>
        <receiver android:exported="true" android:name="com.google.android.gms.analytics.CampaignTrackingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:name="com.vent.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.vent.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <amazon:enable-feature android:name="com.amazon.geo.maps" android:required="false"/>
        <receiver android:name="com.vent.LayerPushReceiver" android:permission="com.vent.permission.LAYER_PUSH">
            <intent-filter>
                <action android:name="com.layer.sdk.PUSH"/>
                <category android:name="com.vent"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.vent.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" android:theme="@style/Base.Theme.AppCompat"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="true" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:launchMode="singleTop" android:name="io.intercom.android.sdk.activities.IntercomMessengerActivity" android:theme="@style/Intercom_PanelTheme" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:name="io.intercom.android.sdk.lightbox.LightBoxActivity" android:theme="@style/Intercom_LightBoxTheme" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:exported="false" android:launchMode="singleTop" android:name="io.intercom.android.sdk.activities.IntercomArticleActivity" android:theme="@style/Intercom_ModalActivityTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:launchMode="singleTop" android:name="io.intercom.android.sdk.activities.IntercomHelpCenterActivity" android:theme="@style/Intercom_ModalActivityTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:launchMode="singleTask" android:name="io.intercom.android.sdk.activities.IntercomPostActivity" android:theme="@style/Intercom_PostTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:launchMode="singleTask" android:name="io.intercom.android.sdk.activities.IntercomNoteActivity" android:theme="@style/Intercom_NoteTheme" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:launchMode="singleTop" android:name="io.intercom.android.sdk.activities.IntercomSheetActivity" android:theme="@style/Intercom_ModalActivityTheme" android:windowSoftInputMode="stateHidden"/>
        <receiver android:exported="false" android:name="io.intercom.android.sdk.push.IntercomPushBroadcastReceiver">
            <intent-filter>
                <action android:name="io.intercom.android.sdk.INTERCOM_PUSH_OPENED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="io.intercom.android.sdk.INTERCOM_PUSH_DISMISSED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.vent.IntercomInitializeContentProvider" android:exported="false" android:name="io.intercom.android.sdk.IntercomInitializeContentProvider"/>
        <service android:exported="true" android:name="com.firebase.jobdispatcher.GooglePlayReceiver" android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.layer.sdk.internal.telemetry.TelemetryUploadService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <activity android:name="com.layer.atlas.util.imagepopup.AtlasImagePopupActivity"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.vent"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.vent.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:name="com.intercom.input.gallery.GalleryInputFullScreenActivity" android:theme="@style/intercom_composer_full_screen_theme"/>
        <activity android:configChanges="density|orientation|screenLayout|screenSize" android:name="com.intercom.input.gallery.GalleryLightBoxActivity" android:theme="@style/intercom_composer_full_screen_theme"/>
    </application>
</manifest>